{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}


<!-- add a todo -->
<div class='container my-3'>
  <h1>Update Todo</h1>
  <form id="add_todo" method="POST" action="/update/{{todo.sno}}">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" name="desc" value="{{todo.desc}}" id="desc">
    </div>

    <button type="submit" class="btn btn-primary">update</button>
  </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>

{% endblock body %}